.ant-table-wrapper {
  margin: 0 -24px;
}

.ant-pagination.ant-table-pagination {
  padding: 0 24px;
}

.drawer-footer-actions {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e9e9e9;
  padding: 10px 16px;
  background: #fff;
  text-align: right;
}